.App-footer {
    background-color: azure;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  
  
  .footer-txt1{
  
    background-color: red;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  
  .footer-testo{
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  
  }
  
  .footer-txt2{
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  
  }
  
  .img-prova{
    height: 100%;
    width: 100%;
  }
  
  .txt-footer{
    padding: 50px;
    background-color: burlywood
  }
